<div class="row">
  <div class="col-md-3">
    <div class="photo photo-type-line">
      <a href="assets/img/ec-1.jpg" class="photo-hover" data-lightbox="my-images" data-title="lorem ipsum">
        <div class="photo-info">
          <div class="headline">Lorem Ipsum</div>
          <div class="line"></div>
          <div class="desc">Watu wote wamezaliwa huru, hadhi na haki zao ni sawa. Wote wamejaliwa akili na dhamiri, hivyo yapasa watendeane kindugu. </div>
          <div class="mask"></div>
        </div>
      </a>
      <div class="photo-img"><img src="assets/img/ec-1.jpg"></div>
    </div>
  </div>
</div>